/* font */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


/* override/reset default styling */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* variables */

:root {
  --clr-primary: #FFE3A9;
  --clr-secondary: #FFC3C3;
  --clr-text: #FF5D5D;
  --clr-salmon: #FF8C8C;
  --ff-primary: "Lato";
  --spacing: 0.25rem;
  --fixed-width: 800px;
}


/* global styles */ 

body {
  background: var(--clr-primary);
  font-family: var(--ff-primary);
}


/* container & form */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10rem 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--clr-secondary);
  width: 50vw;
  height: 30vw;
}

#form {
  background: var(--clr-salmon);
  width: 40vw;
  height: 15vw;
}

.alert {
  display: none;
}

.display-alert {
  display: block;
  color: red;
}

.title {
  margin: 1rem;
  font-size: 2.4rem;
}


/* input */

.input-container {
  display: flex;
  align-items: stretch;
  width: 100%;
  flex-direction: row;
}

.item-input {
  margin: 1rem;
  position: relative;
  flex: 1 1 auto;
  font-size: 1.6rem;
}


/* buttons */

.btn-container {
  flex: 1 1 1 auto;
  position: relative;
}

.btn {
  padding: 1rem 2.6rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: var(--clr-text);
  background-color: var(--clr-primary);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 1rem;
}

.btn:hover {
  background-color: var(--clr-secondary);
  box-shadow: 0px 15px 20px var(--clr-primary);
  color: var(--clr-text);
  transform: translateY(-7px);
}

.btn:active {
  transform: translateY(-1px);
}


/* output list */

.item-list {
  margin-bottom: 0.4rem;
  text-align: center;
  line-height: 1.5;
}

.item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.item-name {
  font-size: 1.6rem;
  text-transform: uppercase;
}